$cyanfonce: #30525b;
$cyanclair: rgb(225,236,239);

.banner{
    display: block;
    position: relative;
    z-index: 5;
}

.ontop{
    background-color: $cyanfonce;
    color: $cyanclair;
    transition-duration: 0.33s;
}

.notontop{
    background: $cyanclair;
    color: $cyanfonce;
    opacity: 0.5;
    transition-duration: 0.33s;
}