.navbar-custom {
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 0;
  transition: all 0.3s ease;

  background-color: rgba(225, 236, 239, 0.6); // #E1ECEF avec transparence
  color: #30525B;
  backdrop-filter: blur(8px); // pour un bel effet "frosted glass" (optionnel)

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &.scrolled {
    position: fixed;
    top: 0;
    background-color: #30525B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-link {
    color: white;
    margin-left: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.navbar-logo-img {
  height: 40px;
  transition: all 0.3s ease;
}
