.navbar {
  transition: background-color 0.3s ease, color 0.3s ease, padding 0.3s ease;
  padding: 0.75rem 1rem;
  width: 100%;
  z-index: 999;

  .navbar-logo-img {
    height: 40px;
    transition: all 0.3s ease;
  }

  .nav-link {
    font-weight: 500;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0 1rem; // ✅ Ajoute de l’espacement horizontal ici
  }

  &.absolute-top {
    position: absolute;
    top: 60px; // ajustable selon la hauteur de ton header
  }

  &.navbar-top {
    background-color: rgba(225, 236, 239, 0.60); // semi-transparent

    .nav-link {
      color: #30525B !important;

      &:hover {
        color: #203a3f !important;
      }
    }
  }

  &.navbar-scrolled {
    position: fixed;
    top: 0;
    background-color: #30525B !important;

    .nav-link {
      color: #E1ECEF !important;

      &:hover {
        color: #ffffff !important;
      }
    }
  }
}